policy_module(infinite_loop, 1.0)

require {
        type unconfined_t;
        class file { execute open read };
}

type mytype_t;

neverallow unconfined_t mytype_t:file { execute open read };

files_type(mytype_t)
