policy_module(mypolicy, 1.0)

  require {
          type unconfined_t;
          class file { read open };
  }

  type myprogram_t;

  type myprogram_exec_t;

  type myprogram_file_t;

  init_module(mypolicy);

  allow unconfined_t myprogram_t:file { open read };

  allow myprogram_t myprogram_exec_t:file execute;

  allow myprogram_t myprogram_file_t:file { open read };

  files_type(myprogram_file_t);
